/* MAIN */

.containerCv {
  padding: 20px 40px 15px 40px;
  background-image: url(/assets/img/banner.jpg);
  text-align: center;
  align-content: center;
  height: 500px;
}

.containerCv h2 {
  font-weight: 600;
  font-size: 34px;
  margin: 16px 0;
}

.containerCv p {
  color: #393d41;
  line-height: 1.65em;
  font-size: 18px;
  margin: 26px 0;
}

.containerCv .button {
  background-color: #f04c2f;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  margin: 8px 0;
  text-transform: uppercase;
}
